<div n:class="uk-modal, modal, display, $modalClass">
	<div class="uk-modal-dialog">
		<div n:if="$title" class="uk-modal-header">{$title}</div>
		<p>
			{$body}
		</p>
		<div class="uk-modal-footer">
			<button class="uk-button uk-modal-close" type="button">Close</button>
		</div>
	</div>
</div>