<div n:snippet="flashMessages">
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<strong>{$flash->type}</strong> {!$flash->message}
	</div>
</div>